.app-machine.container
  .app-machine-header
    %table.table.table-bordered
      %thead
        %tr
          %th #
          %th ip
          %th place
          %th model
          %th pool
      %tbody
        %tr
          %td= @machine.id
          %td
            %a{href: @machine.url}
              = @machine.ip
          %td= @machine.place
          %td= @machine.model
          %td= @machine.template&.url1
  .app-machine-stats#react_machine_stats
  = javascript_pack_tag('stats')
  .app-machine-logs
    %h2 Последние 100 логов
    %table.table.table-bordered
      %thead
        %tr
          %th ip
          %th event
          %th user
          %th date
          %th payload
      %tbody
        - @logs.each do |log|
          %tr
            %td= log.ip
            %td= log.name
            %td= log.user
            %td= log.date
            %td= log.payload
